@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins',sans-serif;
    overflow-x: hidden;
}
section{
    background-color: #FFF;
}
.hero{
    position: relative;
    background-color: #1c1d25;
    /* width: 100vw;
    height: 100vh; */
    color: white;
    font-size: 20px;
}
.logo{
    width: 80px;
}
footer{
    /* height: 500px; */
    background-color: black;
    color: #FFF;
    text-align: center;
    padding: 80px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}
li{
    /* width: 150px; */
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
}
li a:hover{
    color: #41fc80;
}
h1{
    font-size: 90px;
    margin: 0;
}
p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}
.button{
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover{
    background-color: #ef744b;
}
.button:active{
    background-color: #A9A9A9;
    color: #808080;
}
.socials{
    padding-bottom: 200px;
}
.social-icon{
    font-size: 35px;
}
a{
    list-style: none;
    text-decoration: none;
    color: #FFF;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.headshot{
    border-radius: 50%;
}
.headshot-container{
    display: flex;
    align-items: center;
}
.project-container{
    display: flex;
    justify-content: space-around;
}
.project-card{
    width: 200px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}
.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.subtext{
    font-size: 15px;
    font-weight: 300;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.project-image{
    margin-top: 40px;
    width: 190px;
}
.project-detail{
    margin-top: 220px;
    overflow: hidden;
}
.project-link{
    text-decoration: none;
    color: rgb(222, 22, 22);
}
.copyright{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.copyright p{
    font-size: 20px;
}
.hamburger{
    display: none;
}
.skill{
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skill p{
    font-size: 20px;
}
.skill-content{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.skill h3{
    text-decoration: underline rgb(112, 112, 223) 3px ;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.skill h4{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    color: rgb(90, 90, 232);
    font-size: 25px;
}
/*============== Media Query for Mobile Devices ================*/
@media (max-width: 480px) {
    h1{
        font-size: 50px;
    }
    .hero{
        background-color: #1c1d25;
        width: 100vw;
    }
    .project-container{
        flex-wrap: wrap;
    }
    p{
        font-size: 20px;
    }
    .sub-section{
        flex-direction: column;
    }
    .hamburger{
        position: absolute;
        right: 20px;
        display: flex;
        border: 0;
        background-color: transparent;
        color: #FFF;
        font-size: 25px;
    }
    .logo{
        display: none;
    }
    ul{
        width: 100vw;
        flex-direction: column;
        margin-top: 20px;
    }
    ul li{
        align-self: center;
        text-align: center;
        width: 90%;
    }
    ul li:hover{
        background-color: rgb(142, 138, 138);
    }
    .hide{
        display: none;
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .project-container{
        flex-wrap: wrap;
    }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .project-container{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
}
